body {
  font-family: 'Helvetica';
  background-color: black
}
h1,
h2,
h3 {
  margin: 0.5rem 0;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}
/* a {
  text-decoration: none;
} */
.row {
  display: flex;
  justify-content: space-between;
}
.row.center {
  align-items: center;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
}
.block {
  background-color: #e0e0e0;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
.text-right {
  text-align: right;
}
img.small {
  max-height: 8rem;
}
button {
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border: 0.1rem #404040 solid;
  background-color: #1bc565;
  width: 100%;
  cursor: pointer;
}
button.add {
  background-color: #40c0f0;
  width: 1.5rem;
}
button.remove {
  background-color: #f04040;
  width: 1.5rem;
}
button.badge {
  background-color: #f04040;
  border: none;
  color: #ffffff;
  width: 1.5rem;
}
/* buttons on filter */
.btn{
  background-color: red;
  color: white;
  width: 100px;
  height: 40px;
  padding: 1em 1.5em;
  display: table-cell;
  vertical-align: middle;
}
.btn:hover {
  background-color: #555;
}
.btn:active {
  background-color: black;
}

.btn:visited {
  background-color: #ccc;
}
.phase-buttons {
  text-align: center;
}

button{
  display: inline-block;
}

/* homepage */
.homepage {
  width: 100%;
  height: 40vh;
  background-color:#000;
  display:grid;
  place-items:center;
  padding:15px 
}
img {
  width: 30%;
  height: 100%;
  object-fit:cover;
  
  -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
  
  transform-origin:center;
  transform:perspective(800px) rotateY(25deg);
  transition:0.5s;
}
.container {
  max-width:600px;
  max-height:350px;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:20px;
  margin-left: auto;
  margin-right:auto;
  
}
.container:hover img {
  opacity:0.3;
}
.container img:hover {
  transform:perspective(800px) rotateY(0deg);
  opacity:1;
}

.about{
  color: white;
}

/* Header */
.header{
  font-family:sans-serif;
  margin:0;
}
header{
  background: #333333;
  color: white;
  margin: 30px;
}
span{
  color:white;
  font-weight: bold;
  font-size: 8em;
}

a {
  color: red;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: black;
}

nav {
  float: left;
  position: absolute;
}

.cart {
  position: absolute;
  right: 4%;
}

